<p style="color: green"><%= notice %></p>
<%= render @type %>
<%= paginate @pokemons %>
<%= render @pokemons %>
<%= link_to "Back to types", types_path, class: "button mb-1" %>
<%= paginate @pokemons, params: {class: "pagination-link", role: "navigation"} %>
