<p style="color: green"><%= notice %></p>
<%= render @type %>
<%= paginate @pokemons, window: 1, left: 1, right: 1 %>
<div id="pokemons">
  <%= render @pokemons %>
</div>
<%= link_to "Back to types", types_path, class: "button my-1" %>
<%= paginate @pokemons, window: 1, left: 1, right: 1 %>
