<p style="color: green"><%= notice %></p>

<%= render @type %>
<%= paginate @pokemons %>
<%= render @pokemons %>

<div>
  <%= link_to "Back to types", types_path %>
  <%= paginate @pokemons, params: {class: "pagination-link", role: "navigation"} %>
</div>
