<section class="hero is-info">
  <div class="hero-body">
    <h1 class="title">Pokémon Dictionary</h1>
  </div>
</section>
<div class="columns">
  <div class="column is-half mt-5">
    <ul>
      <% @pokemons.each_with_index do |p, i| %>
        <li class=<%= "mb-5" unless i >= @pokemons.length - 1 %>>
          <%= render partial: 'pokemons/pokemon', locals: {pokemon: p} %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="column mt-5">
    <div class="box">
      <ul>
        <% @regions.each_with_index do |r, i| %>
          <li class=<%= "mb-1" unless i >= @regions.length - 1 %>>
            <strong>
              <%= link_to r.name, r, class: "button is-medium is-fullwidth" %>
            </strong>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="column mt-5">
    <div class="box">
      <ul>
        <% @types.each_with_index do |t, i| %>
          <li class=<%= "mb-1" unless i >= @types.length - 1 %>>
            <strong>
              <%= link_to t.name, t, class: "button is-medium is-fullwidth" %>
            </strong>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="column mt-5">
    <div class="box">
      <ul>
        <% @abilities.each_with_index do |a, i| %>
          <li class=<%= "mb-1" unless i >= @abilities.length - 1 %>>
            <strong>
              <%= link_to a.name, a, class: "button is-medium is-fullwidth" %>
            </strong>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
