<p style="color: green"><%= notice %></p>
<%= render @ability %>
<%= paginate @pokemons, window: 1, left: 1, right: 1 %>
<div id="pokemons">
  <%= render @pokemons %>
</div>
<%= link_to "Back to abilities", abilities_path, class: "button my-1" %>
<%= paginate @pokemons, window: 1, left: 1, right: 1 %>

