<p style="color: green"><%= notice %></p>

<%= render @ability %>

<%= paginate @pokemons %>
<%= render @pokemons %>

<div>
  <%= link_to "Back to abilities", abilities_path %>
  <%= paginate @pokemons %>
</div>
