<div id="<%= dom_id pokemon %>">

  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.pokedex_entry %>.png" alt="<%= pokemon.name %>">

  <p>
    <strong>Name:</strong>
    <% if controller_name == "pokemons" && action_name == "show" %>
      <%= pokemon.name %>
    <% else %>
      <%= link_to pokemon.name, pokemon %>
    <% end %>
  </p>

  <p>
    <strong>species:</strong>
    <%= pokemon.species %>
  </p>

  <p>
    <strong>Types:</strong>
    <% pokemon.types.each do |t| %>
      <%= link_to t.name.capitalize, t %>
    <% end %>
  </p>

  <p>
    <strong><%= "Ability".pluralize(pokemon.abilities.count) %>:</strong>
    <% pokemon.abilities.each_with_index do |ability, index| %>
      <%= link_to ability.name, ability %><%= ", " unless index == pokemon.abilities.size - 1 %>
    <% end %>
  </p>

  <p>
    <strong>Pokedex-entry:</strong>
    <%= pokemon.pokedex_entry %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= link_to pokemon.region.name, pokemon.region %>
  </p>

  <% if controller_name == 'pokemons' && action_name == 'show' %>
    <p>
      <strong>Height:</strong>
      <%= pokemon.height %> meters
    </p>

    <p>
      <strong>Weight:</strong>
      <%= pokemon.weight %> kilograms
    </p>

    <p>
      <strong>Health:</strong>
      <%= pokemon.health %>
    </p>

    <p>
      <strong>Attack:</strong>
      <%= pokemon.attack %>
    </p>

    <p>
      <strong>Defense:</strong>
      <%= pokemon.defense %>
    </p>

    <p>
      <strong>Special Attack:</strong>
      <%= pokemon.special_attack %>
    </p>

    <p>
      <strong>Special Defense:</strong>
      <%= pokemon.special_defense %>
    </p>

    <p>
      <strong>Speed:</strong>
      <%= pokemon.speed %>
    </p>
  <% end %>
</div>
