<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= link_to pokemon.name, pokemon %>
  </p>

  <p>
    <strong>Types:</strong>
    <% pokemon.types.each do |t| %>

      <%= link_to t.name.capitalize, t %>

    <% end %>
  </p>

  <p>
    <strong>Pokedex-entry:</strong>
    <%= pokemon.pokedex_entry %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= link_to pokemon.region.name, pokemon.region %>
  </p>

  <p>
    <strong>species:</strong>
    <%= pokemon.species %>
  </p>
</div>
