<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Types:</strong>
    <%= pokemon.types %>
  </p>

  <p>
    <strong>Pokedex-entry:</strong>
    <%= pokemon.pokedex-entry %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= pokemon.region_id %>
  </p>

  <p>
    <strong>Abilities:</strong>
    <%= pokemon.abilities_id %>
  </p>

</div>
