<p style="color: green"><%= notice %></p>
<section class="hero is-info">
  <div class="hero-body">
    <h1 class="title">Regions</h1>
  </div>
</section>
<div id="regions">
  <ul>
    <% @regions.each_with_index do |region, i| %>
      <li>
        <div class="box<%= " mb-5" unless i >= @regions.length - 1 %>">
          <article class="media">
            <img src=<%= asset_path(region.name) %> alt=<%= region.name %> width=600 style="border:2px solid #363636; border-radius:6px">
            <section class="section pt-0">
              <%= render region %>
            </section>
          </article>
        </div>
      </li>
    <% end %>
  </ul>
</div>
