<p style="color: green"><%= notice %></p>

<%= render @region %>

<%= will_paginate @pokemons %>
<%= render @pokemons %>

<div>
  <%= link_to "Back to regions", regions_path %>
  <%= will_paginate @pokemons %>
</div>
