<p style="color: green"><%= notice %></p>

<%= render @region %>
<%= paginate @pokemons %>
<%= render @pokemons %>

<div>
  <%= link_to "Back to regions", regions_path %>
  <%= paginate @pokemons %>
</div>
