<p style="color: green"><%= notice %></p>
<%= render @region %>
<%= paginate @pokemons, window: 1, left: 1, right: 1 %>
<div id="pokemons">
  <%= render @pokemons %>
</div>
<%= link_to "Back to regions", regions_path, class: "button my-1" %>
<%= paginate @pokemons, window: 1, left: 1, right: 1 %>

