<p style="color: green"><%= notice %></p>
<%= render @region %>
<%= paginate @pokemons %>
<%= render @pokemons %>
<%= link_to "Back to regions", regions_path, class: "button mb-1" %>
<%= paginate @pokemons %>

