<nav class="navbar">
  <div class="navbar-menu">

    <%= link_to "Home", root_path, class: "navbar-item" %>
    <%= link_to "Pokémons", pokemons_path, class: "navbar-item" %>
    <%= link_to "Regions", regions_path, class: "navbar-item" %>
    <%= link_to "Types", types_path, class: "navbar-item" %>
    <%= link_to "Abilities", abilities_path, class: "navbar-item" %>

  </div>
</nav>