<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Pokémons", pokemons_path %></li>
  <li><%= link_to "Regions", regions_path %></li>
  <li><%= link_to "Types", types_path %></li>
  <li><%= link_to "Abilities", abilities_path %></li>
</ul>