<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>

  <body>
    <%= render partial: "common/nav" %>
    <%= yield %>
    <div class="navbar">
      <%= render partial: "common/footer" %>
    </div>
    <p>
      <em>Copywrong Pokémon 2024</em>
    </p>
  </body>
</html>
